@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background: url(fireworks.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: hard-light; */
    position: relative;
    overflow-y: hidden;
}

.container {
    position: absolute;
    top: 80px;
    left: 100px;
    right: 100px;
    bottom: 80px;
    background: rgb(162, 1, 1);
    background: linear-gradient(45deg, rgba(162, 1, 1, 0.5) 0%, rgba(2, 2, 181, 0.5) 100%, rgba(0, 212, 255, 0.5) 100%);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5),
        0 0 0 100px rgba(0, 0, 0, .1);
}

.container h2 {
    text-align: center;
    font-size: 10em;
    line-height: 0.7em;
    color: #fff;
    margin-top: -80px;
}

.container h2 span {
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.2em;
}

.countdown {
    display: flex;
    margin-top: 50px;
}

.countdown div {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 0 15px;
    font-size: 3em;
    font-weight: 500;
}

.countdown div:before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 35px;
    background: #006b47;
    color: #fff;
    font-size: 0.35em;
    line-height: 35px;
    font-weight: 300;
}

.countdown #day:before {
    content: 'Days';
}

.countdown #hour:before {
    content: 'Hours';
}

.countdown #minute:before {
    content: 'Minutes';
}

.countdown #second:before {
    content: 'Seconds';
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

.btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 18px;
  background: #ff4d4d;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}
/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Popup Box */
.popup-box {
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 320px;
  animation: pop 0.3s ease;
}

.popup-box h2 {
  margin-bottom: 10px;
}

.popup-box p {
  font-size: 16px;
  margin-bottom: 20px;
}

.popup-box button {
  padding: 8px 20px;
  border: none;
  background: #ff0055;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Animation */
@keyframes pop {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
